* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif; /* Troquei para uma fonte mais comum para melhor legibilidade */
    background-color: #3498db; /* Cor azul mais clara */
    color: #2c3e50; /* Cor do texto mais escura para contrastar */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin: 0;
  }
  
  input {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #3498db; /* Borda mais grossa */
    border-radius: 5px; /* Bordas mais suaves */
    background-color: #fff; /* Fundo branco para destacar os campos de entrada */
    color: #2c3e50;
    font-size: 16px; /* Tamanho da fonte aumentado */
  }
  
  button {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px; /* Bordas mais suaves */
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul.tarefas li {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #3498db; /* Borda mais grossa */
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: #fff; /* Fundo branco para destacar as tarefas */
    color: #2c3e50;
    font-size: 16px;
  }
  
  ul.tarefas li:hover {
    background-color: #f2f2f2; /* Cor de destaque mais clara */
  }
  
  /* Estilos específicos para botões e elementos adicionados */
  input[type="button"],
  ul#tarefas li button,
  ul#finalizadas li button,
  #delete-todos,
  #conclui-todos {
    background-color: #e74c3c; /* Cor vermelha */
    color: #fff;
  }
  
  input[type="button"]:hover,
  ul#tarefas li button:hover,
  ul#finalizadas li button:hover,
  #delete-todos:hover,
  #conclui-todos:hover {
    background-color: #c0392b; /* Cor vermelha mais escura no hover */
  }
  